<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>

<h2>Customers</h2>

<ul>
  <% for customer in @customer do %>
    <li> <%= customer.first_name %> <%= customer.last_name %> <%= customer.username %> </li>
  <% end %>
</ul>
