<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<% for order in @orders do %>
  <%= link_to order.id, user_order_path(params[:user_id], order.id) %>
  <%= order.created_at.month %>/<%= order.created_at.day %>/<%= order.created_at.year %>
<%# for product in @order.products do %>
  <%#= product.name %> <br>
<%# end %>
<% end %>
