/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Hind+Madurai:300,700|Montserrat:400';

body{
  font-family: 'Hind Madurai';
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  letter-spacing: 2px;
}

h1, h2, h3{
  text-transform: uppercase;
}

.top-header{
  background-color: #333;
  color: #fff;
  padding: 10px;
  span{
    padding: 0 10px;
    i{
      padding: 5px;
    }
  }
}

.navbar-container{
  background: url('la-1.jpg');
  background-size: cover;
  background-position: top center;
}

.navbar-default{
  background: rgba(0, 0, 0, 0.1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e2e2e2, rgba(0, 0, 0, 0.1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e2e2e2, rgba(0, 0, 0, 0.1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e2e2e2, rgba(0, 0, 0, 0.1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e2e2e2, rgba(0, 0, 0, 0.1)); /* Standard syntax */
}

.navbar-default{
  padding: 30px 10px 250px 10px;
  margin-bottom: 50px;
  .navbar-brand{
    color: #333;
    height: auto;
    h2{
      margin: 0;
      line-height: 50px;
    }
  }
  .navbar-nav{
    li a{
      color: #333;
      line-height: 60px;
      text-transform: uppercase;
      font-size: 16px;
      text-shadow: 0px 1px 1px #e2e2e2;
    }
  }
}

.pad20{
  padding: 20px;
}

.user{
  padding: 40px;
  border-bottom: #333 solid 3px;
  margin-bottom: 20px;
}

.title{
  padding-bottom: 20px;
}

th, td {
  padding: 40px 8px !important;
  text-align: center;
}

footer{
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png');
  color: #fff;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number]{
  padding-top: 25px;
  padding-bottom: 25px;
}

select{
  height: 50px !important;
}

input[type=file]{
  padding: 20px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
}

.product-image{
  width: 100%;
}

.btn-primary{
  background-color: #FFF;
  color: #333;
  border-radius: 2px;
  border: 2px solid #333;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary:hover{
  background-color: #333;
  color: #FFF;
  border: 2px solid #333;
}

.btn-join{
  background-color: #78b693;
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-join:hover{
  background-color: #46976a;
  color: #fff;
  width: 100%;
  padding: 10px 20px;

}

a{
  color: #78b693;
}

a:hover{
  color: #46976a;
  text-decoration: none;
}

.space20{
  padding-bottom: 20px;
}

.space40{
  padding-bottom: 40px;
}

.logo{
  max-width: 250px;
}
